td, th {
	border: 1px solid;
  }

body{
  background-color: DarkGray;
  font-family: Comic Sans, Arial;
}

h1{
  color: red;
  background-color: DarkGray;
  font-size: 50px;
}

table{
  color: Orange;
  background-color: LightBlue;
  float: left;
  size: 300%;
  border: 10px DarkBlue;
}