td, th {
	border: 2px solid;
  }

body{
  background-color: darkgray;
  font-family: Comic Sans, Arial;
  text-align: center;
}

h1{
  color: darkblue;
  background-color: darkgray;
  font-size: 75px;
}

table#planets{
  color: orange;
  background-color: lightskyblue;
  font-size: 30px;
  border-color: black;
}

tr#outer, td#outer{
  color: indianred;
  background-color: lightseagreen;
  font-weight: 600;
}